body {
    margin: 0;
    background: #eff3f6;

}

.menu{
    list-style-type: none;
    margin-top: 9px;
    padding: 0;
    width: 216px;
    position: fixed;
    height: 669px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner {
    margin-left: 216px;
    margin-top: 0px;
    height: 75px;
    width: 1150px;
    position: fixed;
    background: #3B4D49;
    z-index: 9;
}


.email{
    position: absolute;
    margin-top: 27px;
    margin-left: 500px;
    width: 37px;
    height: 28px;
}
.user{
    cursor: pointer;
}
.box-profiles{
    position: fixed;
    width: 350px;
    height: 400px;
    margin-top: 70px;
    margin-left: 850px;
    display: block;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
}
.img-box-admin{
    width: 50px;
    position: absolute;
    border-color: white;
    border-radius: 50%;
}
.infor-admin-box{
    position: absolute;
    margin-top: 7px;
    margin-left: 60px;
    width: fit-content;
}
.user-name-admin{
    position: relative;
    font-size: 13pt;
    font-family: "Roboto Medium";
    color: #22FBDD;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: normal;
}.user-email-admin{
    position: relative;
    font-size: 11pt;
    font-family: "Roboto Light";
    color: #FFFFFF;
    margin-top: 2px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
 .box-profiles-container{
     margin-left: 16px;
     margin-top: 10px;
 }
 .header-box-container{
     position: absolute;
     width: 100%;
     height: 20%;
     background-image: linear-gradient(to right, #F932BD , #6E54F3);
 }
 .btn-logout-user{
     position: absolute;
     right: 10px;
     width: 30%;
     height: 40%;
     top: 30%;
     background-color: #f2f2f2;
     border: none;
     border-radius: 20px;
 }
 .btn-logout-user:hover{
     background-color: #39D68D;
     color: white;
 }
 .activity{
     margin-left: 16px;
     font-family: "Roboto Medium";
     font-size: 14pt;
     color: black;
 }
 .body-txt-top{
     position: relative;
     margin-top: 25%;
 }
  .txt-body-design{
      font-family: "Roboto Light";
      font-size: 12pt;
      margin-top: 3%;

 }
  .body-box-col-2{
      position: absolute;
      top: 24%;
      right: 20%;
  }
  .body-box-col-2-txt-val{
      font-family: "Roboto Medium";
      position: relative;
      height: 25px;
      width: 25px;
      text-align: center;
      font-size: 15pt;
      color: white;
      background-color: #CF3434;
      border-radius: 50%;
      margin-top: 0;
  }
#name-box{
    position: absolute;
    margin-top: 41px;
    margin-left: 89px;
    font-family: "Roboto Light";
    color: #813668;
    font-size: 10pt;
}
#address-box{
    position: absolute;
    margin-top: 62px;
    margin-left: 89px;
    font-family: "Roboto Light";
    color: #813668;
    font-size: 10pt;
}
#sex-box{
    position: absolute;
    margin-top: 83px;
    margin-left: 89px;
    color: #813668;
    font-family: "Roboto Light";
    font-size: 10pt;
}
.notifi{
    position: absolute;
    margin-top: 27px;
    margin-left: 585px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.banner .user{
    position: absolute;
    margin-top: 12px;
    margin-left: 820px;
    width: 50px;
    height: 50px;
}
.infor-user{
    position: absolute;
    margin-top: 12px;
    margin-left: 880px;
    width: fit-content;
}
.user-name{
    position: relative;
    font-size: 13pt;
    font-family: "Roboto Light";
    color: #22FBDD;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: normal;
}.user_email{
    position: absolute;
    font-size: 11pt;
    font-family: "Roboto Light";
    color: #fff;
    margin-top: 2px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
}
 h3{
     font-weight: normal;
 }
.menu-btn{
    position: absolute;
    margin-top: 25px;
    margin-left: 1080px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    color: #fff;
}
.menu li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.menu li:nth-of-type(1){
    animation: menu-item .6s forwards 1s linear;
}
.menu  li:nth-of-type(2){
    animation: menu-item .6s forwards 1.2s linear;
}
.menu  li:nth-of-type(3){
    animation: menu-item .6s forwards 1.4s linear;
}
.menu  li:nth-of-type(4){
    animation: menu-item .6s forwards 1.6s linear;
}
.menu  li:nth-of-type(5){
    animation: menu-item .6s forwards 1.7s linear;
}
.menu  li:nth-of-type(6){
    animation: menu-item .6s forwards 1.8s linear;
}
li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14pt;
    font-family: "Roboto Light";
    vertical-align: center;
    cursor: pointer;

}
li a.active {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.logo{
    position: relative;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 103px;
    height: 49px;
}
.icon-item{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: center;
}
/*menu right*/
nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #3B4D49;
    padding-top: 1em;
    margin-left: calc(100% - 300px);
    display: none;
    animation: menu-main-right .3 ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
    z-index: 3;
}
ul .overlay{
    margin-left: 10px;
}
.item-over li{
    opacity: 0;
}
.item-over{
    list-style-type: none;
    position: absolute;
    margin-top: 70px;
}
.close-btn {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-left: calc(100% - 40px);
    animation: close-btn .5s .5s forwards;
    cursor: pointer;
    opacity: 0;
}
.overlay li:nth-of-type(1){
    animation: menu-item-main .3s forwards .4s ease-in;
}
.overlay li:nth-of-type(2){
    animation: menu-item-main .3s forwards .6s ease-in;
}
.overlay li:nth-of-type(3){
    animation: menu-item-main .3s forwards .8s ease-in;
}
.overlay li:nth-of-type(4){
    animation: menu-item-main .3s forwards 1s ease-in;
}

.show-menu{
    display: block;
    animation: slide-menu 1s forwards;
    z-index: 10;
}

.container-content{
    position: absolute;
    width: 1150px;
    height: fit-content;
    margin-top: 75px;
    margin-left: 216px;
}
.container-price{
    position: relative;
    width: 1010px;
    height: 144px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.oil-price{
    position: relative;
    width: 252px;
    height: 154px;
    margin-left: 0px;
    float: left;
    cursor: pointer;
}
.pric{
    position: relative;
    font-size: 12pt;
    font-family: Roboto;
    margin-left: 125px;
    margin-top: 50px;
    color: #000;
}
.update-text-top{
    position: absolute;
    font-size: 10pt;
    font-family: "Roboto Light";
    margin-left: 40px;
    margin-top: 25px;
    color: #847373;
    bottom: 24px;
}

.change-prGas{
    position: absolute;
    width: 752px;
    height: 327px;
    z-index: 5;
    margin-left: 400px;
    margin-top: 150px;
    animation: change-box ease-in 0.4s;
}


.close-btn-change {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 12px;
    margin-left: calc(100% - 40px);
    animation: close-btn .5s .5s forwards;
    cursor: pointer;
    opacity: 0;
}
#lChange-Gas{
    position: absolute;
    margin-top: 119px;
    margin-left: 16px;
}
#gas-change{
    position: absolute;
    width: 250px;
    margin-top: 150px;
    margin-left: 16px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#lChange-Oil{
    position: absolute;
    margin-top: 203px;
    margin-left: 16px;
}
#oil-change{
    position: absolute;
    width: 250px;
    margin-top: 234px;
    padding: 12px 20px;
    margin-left: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lChange-ttGas{
    position: absolute;
    margin-top: 119px;
    margin-left: 327px;
}
#ttgas-change{
    position: absolute;
    width: 250px;
    margin-top: 150px;
    margin-left: 327px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#lChange-ttOil{
    position: absolute;
    margin-top: 203px;
    margin-left: 327px;
}
#ttoil-change{
    position: absolute;
    width: 250px;
    margin-top: 234px;
    padding: 12px 20px;
    margin-left: 327px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-change{
    position: absolute;
    margin-top: 170px;
    margin-left: 641px;
    width: 73px;
    height: 73px;
    background-size: auto;
    border: none;
    background: none;
    cursor: pointer;
}

#application-content{
    position: absolute;
    margin-top: 145px;
    margin-left: 443px;
    width: 480px;
    height: 400px;
    display: none;
    animation: change-box ease-in 0.4s;
}

.close-btn-app{
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 17px;
    margin-left: calc(100% - 60px);
    animation: close-btn .5s .5s forwards;
    cursor: pointer;
    opacity: 0;
}
.total{
    position: absolute;
    font-size: 12pt;
    font-family: Roboto;
    margin-left: 130px;
    margin-top: 50px;
    color: #000;
    right: 18%;
}
.chart-holder{
    position: relative;
    width: 810px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#bene-chart{
    margin-top: 10px;
}

#amout-pay{
    margin-top: 10px;
}
.rate-price-oil{
    position: relative;
    width: 380px;
    height: 320px;
    margin-left: 20px;
    float: left;
    background-repeat: no-repeat;
}
.chart-oil{
    position: absolute;
    margin-top: 0px;
    margin-left: 25px;

    width:300px;
    height: 170px;
    padding: 0;
}
.update-text{
    position: absolute;
    margin-top: 278px;
    margin-left: 20px;
    font-family: "Roboto Light";
    color: #847373;
    font-size: 12pt;
}
.title_graph{
    position: absolute;
    margin-top: 180px;
    margin-left: 20px;
    font-family: "Roboto Light";
    color: #000;
    font-size: 12pt;
}
.details-up{
    position: absolute;
    margin-top: 212px;
    margin-left: 20px;
    font-family: "Roboto Light";
    color: #847373;
    font-size: 12pt;
}
.table-prices{
    position: relative;
    width: 1100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 8px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.table-prices {
    border-collapse: collapse;
    width: 90%;

}
.tb-pr{
    width: 100%;
}
.table-prices th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Roboto Light";
}
/*benefit holder*/
.container-benefit{
    position: relative;
    width: 1100px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.benefit-holder{
    position: relative;
    width: 60%;
    height: 100%;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: auto;
    background: #fff;
    border-radius: 4px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.tw-col-body{
    width: 96.3%;
}
.md-groupsort .mbsc-lv .mbsc-lv-item .md-img {
    border-radius: 40px;
}

.md-price {
    float: right;
}
.total-visit{
    position: absolute;
    right: 20px;
    width: 35%;
    height: 100%;
    margin-top: 0;
    background: #fff;
    border-radius: 4px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.long-height{
    height: 620px;
}
tr:hover {background-color:#f5f5f5;}
.cu-dashboard{
    position:absolute;
    right: 65%;
    color:#fff;
    background:#d45859;
    border-radius:10px;
    width: 40px;
    text-align: center;
}
.money-dashboard{
    right: 70%;
}
.imgHelp{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}
.subject{
    position: absolute;
    margin-left: 60%;
}
.emailListMess{
    position: absolute;
    margin-left: 50px;
}
.addressUser{
    position: absolute;
    left: 40%;
}
.set-top-list{
    top: 22%;
}
.list-mess-feedback{
    position: relative;
    margin-top: 10px;
    height: 40px;
    padding: 5px;
    display: list-item;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;

}
.list-mess-feedback:hover{
    background: #4CAF50;
}
.mess-holder-title{
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto Medium";
    color: black;
    font-size: 13pt;

}
@keyframes menu-item {
    from{
        transform: translateY(70%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.reply-mess{
    position: absolute;
    width: 752px;
    height: 327px;
    z-index: 5;
    margin-left: 400px;
    margin-top: 900px;
    animation: change-box ease-in 0.4s;
}
.titleMess{
    position: absolute;
    margin-top: 90px;
    margin-left: 16px;
}
.contentMess{
    position: absolute;
    width: 550px;
    margin-top: 120px;
    margin-left: 16px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.replyLabel{
    position: absolute;
    margin-top: 175px;
    margin-left: 16px;
}
.replyContent{
    position: absolute;
    width: 550px;
    margin-top: 200px;
    padding: 12px 20px;
    margin-left: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-send-reply{
    position: absolute;
    margin-top: 170px;
    margin-left: 641px;
    width: 73px;
    height: 73px;
    background-size: auto;
    border: none;
    background: none;
    cursor: pointer;
}
.lb-choose-day{
    font-family: "Roboto Light";
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    right: 10px  ;
}
.ch-day{
    font-family: "Roboto Light";

}

.ch-day-income{
    font-family: "Roboto Light";
    font-size: 12pt;
}

.list-view-holder{
    position: relative;
    width: 95%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.scroll-view{
    overflow: auto;
    height: 95%;
}
.list-feedback{
    height: 95%;
    width: 100%;
}
.full-col{
    width: 100%;
}
.list-card-lost{
    height: 95%;
    width: 100%;
}
.list-card-lost{
    position: relative;
    height: 95%;
    padding: 5px;
    display: list-item;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;
    margin-top: 5px;

}

.btnView{
    width: 100px;
    height: 70%;
    position: absolute;
    right: 12%;
    border-radius: 20px;
    border: none;
    background: #5B6CE1;
}
.btnView:hover{
    background: #44AE79;
}
.btnDelete{
    position: absolute;
    width: 80px;
    height: 73%;
    right: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to left,
    transparent,
    transparent 50%,
    #ff806f 50%,
    #ff7253) 100% #D74141;
    background-size: 200% 100%;
    transition: all .1s ease-in;
}
.btnDelete:hover{
    background-position: 0 0;
    color:#333;
}
.btnSendMess{
    position: absolute;
    width: 100px;
    height: 70%;
    right: 10px;
    border-radius: 20px;
    border: none;
    background: #D74177;
}
.btnSendMess:hover{
    background: #D74141;
}
.formatBtn{
    font-family: "Roboto Light";
    font-size: 10pt;
    color: #fff;
}
.btnAnswer{
    right: 10px;
    width: 80px;
    height: 73%;
    background: #5B6CE1;

}
.btnAnswer:hover{
    background: #44AE79;
    color: #fff;
}
@keyframes change-box {

  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(0.316, 0, 0, 0, 0, 0.316, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(0.659, 0, 0, 0, 0, 0.659, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(0.942, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(1.123, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.134, 0, 0, 0, 0, 1.134, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(1.063, 0, 0, 0, 0, 1.063, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(0.966, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(1.006, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes menu-item-main {
    from{
        transform: translateX(120%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes close-btn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide-menu {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1930, 0, 0, 1); }
  3.2% { transform: matrix3d(1, 0, 0, 0, 0.68, 1, 0, 0, 0, 0, 1, 0, 1091.329, 0, 0, 1); }
  3.6% { transform: matrix3d(1, 0, 0, 0, 0.747, 1, 0, 0, 0, 0, 1, 0, 1011.583, 0, 0, 1); }
  6.41% { transform: matrix3d(1, 0, 0, 0, 1.031, 1, 0, 0, 0, 0, 1, 0, 576.332, 0, 0, 1); }
  7.21% { transform: matrix3d(1, 0, 0, 0, 1.045, 1, 0, 0, 0, 0, 1, 0, 485.36, 0, 0, 1); }
  9.61% { transform: matrix3d(1, 0, 0, 0, 0.943, 1, 0, 0, 0, 0, 1, 0, 279.787, 0, 0, 1); }
  12.81% { transform: matrix3d(1, 0, 0, 0, 0.668, 1, 0, 0, 0, 0, 1, 0, 119.964, 0, 0, 1); }
  13.51% { transform: matrix3d(1, 0, 0, 0, 0.606, 1, 0, 0, 0, 0, 1, 0, 97.216, 0, 0, 1); }
  19.22% { transform: matrix3d(1, 0, 0, 0, 0.211, 1, 0, 0, 0, 0, 1, 0, 4.684, 0, 0, 1); }
  19.72% { transform: matrix3d(1, 0, 0, 0, 0.185, 1, 0, 0, 0, 0, 1, 0, 1.547, 0, 0, 1); }
  25.63% { transform: matrix3d(1, 0, 0, 0, -0.013, 1, 0, 0, 0, 0, 1, 0, -11.141, 0, 0, 1); }
  26.03% { transform: matrix3d(1, 0, 0, 0, -0.02, 1, 0, 0, 0, 0, 1, 0, -11.103, 0, 0, 1); }
  32.23% { transform: matrix3d(1, 0, 0, 0, -0.068, 1, 0, 0, 0, 0, 1, 0, -7.038, 0, 0, 1); }
  44.74% { transform: matrix3d(1, 0, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, -0.977, 0, 0, 1); }
  57.26% { transform: matrix3d(1, 0, 0, 0, 0.006, 1, 0, 0, 0, 0, 1, 0, -0.027, 0, 0, 1); }
  65.67% { transform: matrix3d(1, 0, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 0.013, 0, 0, 1); }
  82.28% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
